<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Nizar's Page </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/styles.css">
  </head>
  <body>
    <div class="container col-sm-6 col-md-6 col-lg-6 col-xl-6 ">
    <h1> About Gandalf </h1>

    <p>As one of the Maiar, Gandalf would have participated in the Music of the Ainur at the creation of the world. However he does not attain any prominence until the Valar settle in Valinor.</p>
    <p>In Valinor, Gandalf was known as Olórin.[1] As recounted in the "Valaquenta" in The Silmarillion,[4] he was one of the Maiar of Valinor, specifically, of the people of the Vala Manwë; and was said to be the wisest of the Maiar. He was also closely associated with two other Valar: Irmo, in whose gardens he lived, and Nienna, the patron of mercy, who gave him tutelage. When the Valar decided to send the order of the Wizards (Istari) to Middle-earth in order to counsel and assist all those who opposed Sauron, Olórin was proposed by Manwë. Olórin initially begged to be excused as he feared Sauron and lacked the strength to face him, but Manwë replied that that was all the more reason for him to go.[5]</p>
    <p>As one of the Maiar, Gandalf was not a mortal Man but an angelic being who had taken human form. As one of those spirits, Olórin was in service to the Creator (Eru Ilúvatar) and the Creator's 'Secret Fire'. Along with the other Maiar who entered into the world as the five Wizards, he took on the specific form of an aged old man as a sign of his humility. The role of the wizards was to advise and counsel but never to attempt to match Sauron's strength with his own, and hopefully the kings and lords of Middle-earth would be more receptive to the advice of a humble old man than a more glorious form giving them direct commands.</p>

    <a href="/">
      Back to Home
    </a>

    </div>
  </body>
</html>
